@charset "UTF-8";
.general-section .inner{
    margin: 0 auto;
    padding: 80px 0;
    width: min(calc(100% - 32px),780px);
}
.fit-img {
	width: 100%;
	height: auto;
	vertical-align: middle;
}
.msf-content{
	position: relative;
}
.step-img{
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translate(-50%,0);
	width: min(100%,280px);
}
.from-bg{
    background: #fff;
}
.text-wrapper{
	position: relative;
	text-align: center;
	z-index: 2;
}
.text-wrapper::before{
    content: "";
    position: absolute;
    bottom: 0;
	right: 34px;
    width: 0;
    height: 0;
    transform: rotate(-31deg);
    border-style: solid;
    border-width: 0 22px 13px 22px;
    border-color: transparent transparent #D8D8D8 transparent;
    z-index: -2;
}
.text-wrapper::after{
	content: "";
    position: absolute;
    bottom: 4px;
    right: 30px;
    width: 0;
    height: 0;
    transform: rotate(-31deg);
    border-style: solid;
    border-width: 0 22px 13px 22px;
    border-color: transparent transparent #fff transparent;
    z-index: 1;
}
.note{
	background: #fff;
	border: 2px solid #D8D8D8;
	padding: 16px;
	border-radius: 6px;
	font-size: 1.6rem;
	text-align: left;
	line-height: 1.2;
	font-weight: bold;
}
.required-text{
	display: inline-block;
    position: absolute;
    top: -34px;
    right: 0px;
    z-index: 2;
    background: #D36B76;
    color: #fff;
    padding: 4px 8px;
}
.step-from-count{
	margin: 20px 0 140px auto;
	font-size: 1.4rem;
	font-weight: bold;
	display: block;
	width: 80px;
	text-align: center;
	background: #fff;
	padding: 6px 6px 6px;
}
.large-text{
	font-size: 150%;
}
.form-item{
	background: #fff;
	padding: 32px 16px;
}
.form-text{
	font-size: 1.6rem;
	font-weight: bold;
}
.form-control{
	margin-top: 10px;
	border: 2px solid #D8D8D8;
	width: 100%;
	font-size: 1.4rem;
	padding: 10px;
}
.msf-navigation{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 20px;
	background: #fff;
	padding: 0 16px 32px;
}
.btn-item{
	font-size: 1.6rem;
}
.btn-item button{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 100%;
	border-radius: 4px;
	box-shadow: 2px 2px 4px #3333337a;
	font-weight: bold;
	font-size: 1.8rem;
}
.return-btn button{
	border: 4px solid #a64e4600;
	background: #F4F4F4;
	color: #575352;
}
.next-btn button{
	border: 4px solid #D13543;
	background: linear-gradient(#E7B1BB 10%,#D13543);
	color: #fff;
}
.radio-text{
	position: relative;
	display: flex;
	gap: 4px;
}
.radio-text .error{
	margin-bottom: 0;
}
.radio-list .form-control{
	margin-top: 0;
	width: 14px;
}
.radio-list{
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px 30px;
}
.radio-text.textarea{
	display: flex;
	flex-wrap: wrap;
}
textarea{
	margin-top: 10px;
	border: 2px solid #D8D8D8;
	width: 100%;
}
.caption{
	margin-top: 10px;
	font-size: 1.2rem;
	line-height: 1.5;
}
.red{
	color: #dc143c;
}
.error{
	white-space: nowrap;
	margin-bottom: 10px;
}
label.error{
	color: #dc143c;
}
.radio-list label.error{
	position: absolute;
	top: -22px;
}
.textarea-item{
	width: 100%;
}
.textarea-item textarea{
	min-height: 100px;
}
.form-time{
	margin-top: 20px;
}
.time-text{
	font-size: 1.6rem;
}
.mt20{
	margin-top: 20px;
}
.text-center{
	text-align: center;
	line-height: 1.5;
}
.step-number{
	color: #D36B76;
	font-size: 4rem;
	font-weight: bold;
	margin-bottom: 5px;
}
.loading-img{
	margin: -80px 0 0 auto;
	width: 80px;
}
/*--------------------------------
state
--------------------------------*/
@media screen and (max-width: 767px){
	.sp-none{
		display: none;
	}
}
@media screen and (min-width: 768px){
	.pc-none{
		display: none;
	}
}
@media (max-width: 768px) {
  input, select, textarea, button, .form-control {
    font-size: 16px !important;
  }
}

